*{

    font-family: 'Averta-Semibold', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #2F2F34;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.container{
    position: relative;
    margin-top: 100px;
}

.container img{
    display: block;
    width: 100%;
}
nav{
    display: flex;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background-color: #1F1F23;
    justify-content: space-between;
    
}

nav .logo{
    width: 210px;
    font-size: 24px;
    color: white;
    padding: 0 20px;
}

nav .link {
    float: right;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 5px;
}

nav .link li {
    list-style: none;
}
nav .link a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: bold;
    color: #D6D6DA   ;
    text-decoration: none
}

#nav-toggle{
    position: absolute;
    top: -100px;
}

nav .icon-burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}

nav .icon-burger .line{
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
    border-radius: 3px;
    transition: all .3s ease-in-out;
}

.topnav input[type=text] {
    /*Icono de buscar*/
    background-image: url(img/outline_search_white_18dp.png) ;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 26px;
    width: 150px;
    /*Barra de busqueda*/
    border-radius: 10px;
    color:white;
    background-color: #2F2F34;
    padding: 6px 20px 5px 28px;
    border: none;
    font-size: 16px;
  }
  
.topnav input:hover {
    border-color: black;
  }

  .Carrito{
    padding: 18px;
}
.bi-bi-cart4{
    height: 40px;
    width: 80px;
    background: rgb(255,0,76);
    background: linear-gradient(139deg, rgba(255,0,76,1) 7%, rgba(0,255,252,1) 100%);
    padding: 8px;
    border-radius: 15px;
    font-size: 16px;
 }

 .nav-card{
    display: none;
 }

.Carrito .buy-card button{
    font-size: 18px;
    display: none
}

.nav-card li{
    list-style: none;
    padding: 10px;
    font-weight: bold;
}

.Carrito i:hover > .buy-card{
    width: 450px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #2F2F34;
}

.Carrito i:hover .nav-card{
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    margin: 0 10px 0 10px;
    border-bottom: solid thin #F2387C;
}

.Carrito i:hover .buy-card >button{
    display: block;
    width: 90%;
    padding: 1rem;
    margin: 10px auto;
    background: linear-gradient(139deg, rgba(255,0,76,1) 7%, rgba(0,255,252,1) 100%);
    border: solid thin #1F1F23;
    color: #1F1F23;
    cursor: pointer;
    border-radius: 25px;
}

.Carrito i:hover .buy-card >button:hover{
    border: solid 2px white;
    transition: all .1s;
}
 
 .bi-bi-person-fill{
    width:36px;
    height:36px;
    background-color: grey;
    border-radius: 50%;
 }

.header{
    margin-top: 101px;
    text-align: left;
    height: 300px;
    padding: 12px;
    background-size: 100% 100%;
    background-image: url(img/portada.jpg);
    background-repeat: no-repeat;
}

.perfil{
padding: 50%;
}


.avatar{
    height: 200px;
    width: 200px;
    margin-top: 190px;
    border-radius: 50%;
    border: 2px solid #FF3974;

}

.user-name{
    font-size: 38px;
    margin-left: 220px;
    margin-top: -85px;
    color: #FF3974;
}

.followers{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    margin: 220px;
    margin-top: -30px;
    color: #89898C;
}

.socials{
    list-style: none;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 45px 253px 0px 20px;
    margin-left: 220px ;
}

.socials li{
    display: inline-block;
    margin: 5px;
}

.Correo{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(img/Correo.png);
    background-size: contain;

}

.Instagram{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(img/instagram.png);
    background-size: contain;

}

.Twitter{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url(img/twitter.png);
    background-size: contain;

}

.abaut-me{
    margin-top: -40px;
    margin-left: 240px;
    font-size: 20px;
    color: #FF3974;
}

/*Cartas de imagen*/
.Publicaciones{
    font-size: 30px;
    color: #FF3974;
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.Imagenes{
    display: flex;
}
.carta{
    display: inline-block;
    border-radius: 20px;
    margin-left: 10px;
    background-color: #fff;
    flex: 1;
    transition: .3s all ease;
    overflow: hidden;
    position: relative;
    width: 400px;
    height: 200px;
}

.carta:hover{
    flex: 2;
    background-color: rgb(255,0,76);
}

.carta img{
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}


 @media screen and (max-width: 1100px){

    .followers{
        font-size: 1rem;
    }
    nav .logo{
        float: none;
        width: auto;
        justify-content: center;
    }
  
    nav .link{
       float: none;
       position: fixed;
       z-index: 9;
       left: 0;
       right: 0;
       top: 100px;
       bottom: 100%;
       width: auto;
       height: auto;
       flex-direction: column;
       justify-content: space-evenly;
       background-color: rgba(0, 0, 0, .8);
       overflow: hidden;
       box-sizing: border-box;
       transition: all .5s ease-in-out;
    }
  
    nav .link a{
        font-size: 20px;
    }
  
    nav :checked ~ .link{
        bottom: 0;
    }
  
    nav .icon-burger{
        display: block;
    }
  
    nav :checked ~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
    }
  
    nav :checked ~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
    }
    
    nav :checked ~ .icon-burger .line:nth-child(2){
        opacity: 0;
    }
  }

  @media screen and (max-width: 595px){
    .followers{
        font-size: 0.9rem;
        margin-top: 1px;
    }
    .socials{
        margin-top: 55px ;
    }
    .user-name{
        font-size: 20px;
    }
  }