*{
    font-family: 'Averta-Semibold', sans-serif;

}


body, html{
    height: 100%;
}    

body{
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.form-box {
    width: 300px;
    height: 600px;
    padding: 40px;
    background: #191919;
    border-radius: 5% 5% 5% 5%;
    box-shadow: 10px 15px 20px black;
    text-align: center;
}

.form-tittle{
    color: #F2387C;
    text-transform: uppercase;
    font-weight: 500;
}

.form-box input[type="text"],
.form-box input[type="password"],
.form-box input[type="email"],
.form-box button[type="submit"] {
    color: white;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    padding: 14px 10px;
    text-align: center;
    border: 2px solid #384A59;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.form-box input[type="text"]:focus,
.form-box input[type="password"]:focus,
.form-box input[type=email]:focus{
    width: 280px;
    border-color: #BF759E ;
}
.TyC {
    color: white;
}

.TyC a{
    color: white;
    text-decoration: none;
    transition: .2s;
}

.TyC a:hover{
    color: #05DBF2;
}

.form-box button[type="submit"]{
    border: 0;
    background: #05DBF2;
    cursor: pointer;
    border: 2px solid #05DBF2;
    width: 150px;
    text-transform: uppercase;
}

.form-box button[type="submit"]:hover{
    background: none;
}

.Sing_Up{
    color: #F2387C;
    text-transform: uppercase;
    font-weight: 500;
}

.button{
    display: inline-block;
    padding: 14px 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color:#05DBF2;
    border: 2px solid #05DBF2;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    width: 165px;
    border-radius: 24px;
    transition: 0.25s;
  }
.button:hover{
    background: none;
}
body {

    background-image: url(img/fondo_login.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
}